.revistas {
  display: flex;
  justify-content: space-between;
  margin: 20px 15px 15px 15px;
}

.card-container {
  display: flex;
  width: 300px;
  overflow: hidden;
  justify-content: center;
  box-shadow: 0px 0px 15px -5px;
  transition: all 0.3s;
  animation: ease-in;
  flex-direction: column;
  padding: 20px;
}

.card-container:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 15px 0px;

}

.image-container img {
  overflow: hidden;
  height: 200px;

}

.card-content {
  margin: 1rem;
  margin-top: 0.5rem;
}

h3,
p {
  margin: 0;
  padding: 0;
}

.card-title {
  margin-bottom: 0, 5rem;

}

.btn {
  display: flex;
  justify-content: center;
  margin: 0.rem;

}

.btn button {
  padding: 0.5rem;
  background-color: #0093CE;
  border: none;
  transition: 0.2s;
  margin-bottom: 0.5rem;
  border-radius: 3px;

}
