.inicioRevistas {
    height: 400px;
    font-size: 40px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(../../assets/revista.png);
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    color: white;
    display: flex;
}

@media only screen and (min-width: 576px) and (max-width: 768px){
    .inicioRevistas{
        font-size: 25px;
        width: 100%;
    } 
}

@media only screen and (min-width: 360px) and (max-width: 575px) {
    .inicioRevistas{
    font-size: 25px;
    } 
}