/* .inicioRevista {
    height: 400px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(../../assets/revista.png);
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    color: white;
    display: flex;
} */