/* Sección Home */
.container-landing{
    /*max-width: 80%;*/
    margin: 0 30px 0 30px
  }
  .left-landing, .right-landing {
    width: 50%;
    position: relative;
  }

.landingpage img{
  top: 0;
  left: 0;
  height: 90vh;
  width: 100%;
  object-fit: contain;
  transform: scale(1.1);
}

.landingpage h1{
  font-size: 100px;
  margin-bottom: 20px;
  color: #0093CE;
}

button {
  background: none;
  outline: none;
  border: none;
  color: white;
  font-weight: 600;
  font-size: 25px;
  transition: 0.5s;
  cursor: pointer;
  border-radius: 5px;
}

.btn-landing{
  width: 200px;
  height: 80px;
  background-color: #BE3535;

}

.btn-landing:hover{  
  border: solid;
  background-color: white;
  color:#BE3535;
  font-size: 30px;
}


@media screen and (max-width:768px) {
  .left-landing, .right-landing{
    width: 100%;
  }

  .flex-landing {
    display: flex;
  }
  
  
  
  /*.landingpage{
    height: 90vh;
  }*/
  
  .landingpage .img-landing {
    height: 90vh;
    width: 100%;
    height: 100%;
    position: relative;

  }

  .landingpage img{
    width: 100%;
    height: 100%;
    position: relative;
    transform: scale(1);

  }
  
  .left-landing h1{
    font-size: 100px;
    margin-bottom: 20px;
    color: #0093CE;
    
  }
  
  button {
    background: none;
    outline: none;
    border: none;
    color: white;
    font-weight: 600;
    font-size: 25px;
    transition: 0.5s;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .btn-landing{
    width: 200px;
    height: 80px;
    background-color: #BE3535;
  
  }
  
  .btn-landing:hover{  
    border: solid;
    background-color: white;
    color:#BE3535;
    font-size: 30px;
  }
}
  
 
  
  @media screen and (max-width: 992px){
    .landingpage{
      margin-left: 30px;
      margin-right: 10px;
      
    }

    .left-landing {      
      margin-top: 90px;
     
    }
    .left-landing h1 {
      font-size: 70px;
      margin-bottom: 20px;
     
    }

    .landingpage .img-landing {
      height: 90vh;
      width: 100%;
      padding-left: 15px;
      
    }

    .btn-landing{
      width: 150px;
      height: 60px;
      background-color: #BE3535;
    
    }

    button {
      color: white;
      font-weight: 600;
      font-size: 20px;
      transition: 0.5s;
      cursor: pointer;
    
    }

    .btn-landing:hover{  
      border: solid;
      background-color: white;
      color:#BE3535;
      font-size: 25px;
    }
  }

  /*FOR MEDIUM DEVICES*/

  @media screen and (max-width: 836px){
    .left-landing h1 {
      font-size: 60px;
      margin-bottom: 20px;

    }
  
    .btn-landing{
      width: 130px;
      height: 50px;
      background-color: #BE3535;
    
    }
      button {
        color: white;
        font-weight: 600;
        font-size: 18px;
        transition: 0.5s;
        cursor: pointer;
      
      }
  
      .btn-landing:hover{  
        border: solid;
        background-color: white;
        color:#BE3535;
        font-size: 20px;
      }
     
    }
  

  @media screen and (max-width:768px) {
    .left-landing, .right-landing{
      width: 100%;
    }
  
    .landingpage .container-landing {
      flex-direction: column;
      flex-direction: column-reverse;
    }
  
    .landingpage{
      height: 134vh;
    }
  
    .landingpage .img-landing{
      width: 100%;
      height: 100%;
      position: relative;
  
    }
  
    .landingpage img{
      width: 600px;      
      position: relative;     
  
    }

     
  }

  @media screen and (max-width: 576px){
    
  }

  /*FOR SMALL DEVICES*/
  @media only screen and (min-width: 360px) and (max-width: 575px){
    .landingpage{
      height: 700px;
    }

    .left-landing h1 {
      font-size: 50px;
      
    }        
    
    .landingpage .img-landing img{
      width: 400px;
      height: 400px;
      margin-bottom: 20px;
        
  
    }

    .right-landing{
      margin-top: 0;
    }

    .left-landing {
      margin-top: 0;
  }
  }


