
.navbar-categorias{

  align-items: center; 
  display: flex; 
  justify-content: center;
  margin-top: 15px;

}
 
  .navbar-categorias a {
    float: left;
    font-size: 20px;  
    font-weight: 400;     
    color: black;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    text-transform: uppercase;
    
  }

  
  .navbar-categorias a:hover {
    color: #0093CE;
    font-weight: bold;
  }
 

  
  