* {box-sizing: border-box;

}

.navbar{

align-items: center; 
display: flex; 
justify-content:space-between;
margin: left 10px;
margin-right:30px;
padding:10px;

}
 
  /* Navigation links */
  .navbar a {
    float: left;
    font-size: 20px;
    font-weight: bold;
    
    color: black;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    
  }
   
  /* Add a red background color to navigation links on hover */
  .navbar a:hover, .subnav:hover .subnavbtn {
    background-color: #0093CE;
  }
  
  /* When you move the mouse over the subnav container, open the subnav content */
  .subnav:hover .subnav-content {
    display: block;
  }
  
  
  