    .blog {
    display: flex;
    justify-content: center;
    margin:20px 15px 15px 15px;
    }
    
    .card-container {
        display:flex;
        width: 70%;
        justify-content: center;
        box-shadow: 0px 0px 15px -5px;
        transition: all 0.3s;
        animation: ease-in;
    }
    
    .card-container:hover {
        transform: scale(1.1);
        box-shadow: 0px 0px 15px 0px;
    
    }
    .image-container img{
        
        height: 200px;
        /* overflow:hidden;*/
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 10px 10px 10px;
    
          
    
    }
    
    .text {
      display: flex;
      align-items: center;
      padding: 10px 10px 10px 10px;
    }
    .card-content {
      margin: 1rem;
      margin-top: 0.5rem;
    }
    
    .card-title h3{
        margin:0;
        padding:0;
    }


    .card-title {
        margin-bottom: 10px;
       
      }

    .card-body p{
        margin:0;
        padding:0;
    }
    
    .card-body {
      margin-bottom: 10px;
    }
    
      .btn {
        display:flex; 
        justify-content:center;
        
       
      }
    
      .btn button {   
       background-color:white;
       border: none;
       transition: 0.2s;   
       border-radius: 3px;  
       
      }
      
      .btn button:hover {
        background:rgba(27, 156, 252, 0.1);
        transform: scale(1.1)
      }
    .btn a{
        text-transform:uppercase;
        color: black;
        text-decoration: none;
        font-weight: bold;
    }
    
    .categorias{
        color: rgb(12, 9, 9); 
        font-weight: bold;
      
    }
    
    
    .secciones{
      color: black; 
      justify-content: space-evenly;
      display: flex;
     
    }