@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap');
/*@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,900&display=swap');*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
}