.container-footer{
    max-width: 80%;
    margin: 50px auto;
  }

.grid1-footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
  }


  footer {
    background-color: rgb(174, 191, 171, 15%);
    padding: 50px 0 0 0;
    color: #000;
  }

  .box-footer img{
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
  }
  footer p {
    color: #000;
    margin: 20px 0;
  }
  
  
  .box-footer h2 {
    margin-bottom: 15px;
    font-size: 28px;
  }
 
  
  .icon-footer {
    display: flex;
    height: 30px;
  }

  .icon-footer label{
    font-size: 17px;
    font-weight: 600;
  }
  .icon-footer i {
    color: #8AD676;
    margin-right: 20px;
    width: 50px;
    height: 50px;
  }

  .box-footer .text-footer img{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
  }

  .box-footer p {
    margin: 0; 
    font-size: 17px;  
    font-weight: 600; 
  }
  .text-footer span {
    color: #8AD676;
    font-size: 17px;
    font-weight: 600;
    
  }


  .legal-footer {
    display: flex;
    justify-content: center;  
    margin-top: 10px;
    padding: 20px 0;
  }

  @media screen and (max-width: 768px) {
    footer .grid1-footer {
        grid-template-columns: 1fr;
      }
  }