.container-footer{
    /*max-width: 80%;*/
    margin-top: 20px;
  }

  .grid1-footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    justify-items: center;
}


  footer {
    background-color: rgb(174, 191, 171, 15%);
    padding: 30px 0 30px 0;
    color: #000;
    margin-top: 30px;
  }

  .box-footer img{
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  footer p {
    color: #000;
    margin: 20px 0;
  }
  
  
  .box-footer h2 {
    margin-bottom: 15px;
    font-size: 28px;
    text-align: center;
  }
 
  
  .icon-footer {
    display: flex;
    height: 30px;
    justify-content: center;
  }

  .icon-footer label{
    font-size: 17px;
    font-weight: 600;
    margin-left: 10px;
    
  }

  .icon-footer svg {
    color: #8AD676;
  }
  .icon-footer i {
    
    margin-right: 20px;
    width: 50px;
    height: 50px;
  }

  .text-footer  { 
    text-align: center;    
  }

  .text-footer img{
    width: 50px;
    height: 50px;
    
  }

  .box-footer p {
    margin: 0; 
    font-size: 17px;  
    font-weight: 600; 
    
  }
  .text-footer span {
    color: #8AD676;
    font-size: 17px;
    font-weight: 600;  
    
  }

  .box-footer-adm{
  display: flex;
  align-items: center;
  justify-content: center;
  }

  .btn-ingresar {

    display: flex;
    align-items: center;
  }

  .btn-ingresar img{
    height: 30px;
    width: 30px;
  }

  .btn-ingresar button{
    color: #8AD676;
  }

  .legal-footer {
    display: flex;
    justify-content: center;  

  }



  @media only screen and (min-width: 576px) and (max-width: 768px){
    footer{
      width: 110%;
    }
  }

  @media screen and (max-width: 768px) {
    footer .grid1-footer {
        grid-template-columns: 1fr;
      }
     
  }