body {
    background-color:white
   
}

*{box-sizing:border-box;}

form{
	width:400px;
	padding: 20px;
	border-radius:10px;
	box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
	margin:auto;
	background-color:rgba(222, 238, 229, 0.25);
	
	
    font-family:Arial, Helvetica, sans-serif;
  
}

h1{
    color:black;
    text-align:center;
    font-size: 25px;
    margin-bottom:25px;
	letter-spacing: 1px;
}

form label{
	width:72px;
	font-weight: 600;
	display:inline-block;
	margin-left: 10px;
	letter-spacing: 1px;
   
}


form input{
	width:350px;
	padding:3px 10px;
	border-radius:5px;
    border:0.1px solid rgb(142, 141, 141);
	
	margin: 8px;
    height: 40px;
	
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(222, 238, 229, 0.25);
   
}
form input[type="submit"]{
	width:350px;
	padding:8px 8px;
	margin-top:32px;
	letter-spacing: 1px;
	border-radius:5px;
	display:block;
	color:#fff;
	font-size: 20px;
	font-weight: bold;
	background-color: #0093CE;
}

.contrasena{ 
	font-size: 10px;
	color:#0093CE;
	

}

@media (max-width:480px) {
    form {
        width: 100%;
    }
}
    
