.container-diabete {
    /*max-width: 80%;*/
    margin: 0 30px 0 30px;
   
  }

.topMarign {
    margin-top: 80px;
  }

.grid-diabete {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
  }  


.teoria {
    text-align: center;
}

.card-diabete{
    padding: 20px 10px;    
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0 5px 20px 0 rgb(0 0 0 / 48%);
}

.box-diabete{
  display: grid;
  justify-items: center;
}
.teoria .box {
    text-align: center;
  }

.img-diabete{
  width: 120px;
}

.teoria img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
.teoria .text-diabete {
    
    margin: 20px;
    margin-top: -30px;
    position: relative;
    z-index: 1;
  }
.teoria .text-diabete h2 {
    font-weight: 500;
    font-size: 22px;
    margin-bottom: 20px;
  }
.diabete .heading-diabete {
    text-align: center;
  }

.diabete .text-diabete {
    width: 70%;
    z-index: -100;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}

.diabete span {
    
    font-size: 15px;
  }
  
.diabete h2 {
    margin: 20px 0;
  }

.diabete a {
    color: #BE3535;
    display: block;
    line-height: 20px;
  }

.diabete a .icon-diabete {
    padding-top: 10px;
  }

  @media screen and (max-width: 992px) {
    .grid-diabete {
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        
      }

    .container-diabete{
      margin: 20px 100px 20px 100px;
    }

    .heading-diabete{
      margin-top: 20px;
    }
       
  }

  @media screen and (max-width: 768px) {
    .grid-diabete {
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        
      }

    .container-diabete{
      margin: 280px 100px 20px 100px;
    }

    .heading-diabete{
      margin-top: 20px;
    }
       
  }

  @media only screen and (min-width: 360px) and (max-width: 575px) {
    .container-diabete{
      margin: 120px 20px 20px 20px;
    }
    
    .grid-diabete {
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        margin: 0;
        width: 100%;    
      }

    
    .heading-diabete{
      margin-top: 10px;
      margin-bottom: 20px;
    }
    
    .img-diabete img{
      width: 80px;
    }
  }
  

  


